<div class="form-center">
    <h2>user form</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitR()">
        <input type="text" placeholder="Name" formControlName="fName">
        <div class="alert">
            @if (userForm.get('fName')?.touched && userForm.get('fName')?.invalid) { @if (userForm.get('fName')?.hasError('required')) {
            <p>name cannot be empty</p>} @if (userForm.get('fName')?.hasError('minlength')) {} }

            <p>name must be atleast 3 characters long</p>

        </div>
        <br><br>
        <input type="text" placeholder="Email" formControlName="email">
        <div class="alert">
            @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) { @if (userForm.get('email')?.hasError('required')) {
            <p>email is required</p>
            } @if (userForm.get('email')?.hasError('email')) {
            <p>please enter a valid eail</p>
            } }
        </div>
        <br><br>
        <textarea formControlName="address"></textarea>
        <div class="alert">
            @if (userForm.get('address')?.touched && userForm.get('address')?.invalid) { @if (userForm.get('address')?.hasError('required')) {
            <p>address is required</p>
            } @if (userForm.get('address')?.hasError('minlength')) {
            <p>address must be atleast 10 characters long </p>
            } }
        </div>

        <br><br>
        <button>Submit</button>
    </form>

</div>