<div class="form-center">
    <h2>Add new post</h2>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">


        <label for="">Title:</label>
        <input type="text" formControlName="title" placeholder="enter the title">
        <br><br/>

        <label for="">Content:</label>
        <textarea formControlName="content" placeholder="enter the content"></textarea>
        <br><br/>

        <label for="">Optional Data:</label>
        <input type="text" formControlName="optionalData" placeholder="enter optional data">
        <br><br/>

        <button type="submit" [disabled]="postForm.invalid">SUBMIT</button>

    </form>
</div>



<div class="all-posts">
    <h1>All Posts</h1>
    <div class="posts-center">
        <ul>
            <app-post *ngFor="let post of posts" [post]="post" (edit)="onEdit($event)" (delete)="onDelete($event)">
            </app-post>
        </ul>
    </div>
</div>