h1 {
    color: navy;
}

.active {
    border: 4px solid yellow;
    background-color: green;
}

.notactive {
    background-color: red;
    border: 4px solid blue;
}

.apple {
    background-color: red;
    border: 4px solid green;
}

.form-center {
    margin: 0 auto;
    width: 250px;
}

.alert {
    color: red;
}

input.ng-invalid {
    border: 2px solid red;
}